<div ng-controller="BlogCtrl" ng-init="show()">
  <div ng-if="getModelError">
    Error.
  </div>
  <div ng-if="!getModelError">
    <h1>{{model.title}}</h1>

    <div class="row">
      <div class="col-md-12">
        <h5>
          <small>
            Created: <span ng-bind="model.createdAt"></span><br>
            Updated: <span ng-bind="model.updatedAt"></span>
          </small>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-bind-html="getContent()"></div>

        <div>
          <a ui-sref="blogEdit({id: model.id})" class="btn btn-primary">Edit</a>
          <a ui-sref="blog()" class="btn btn-default">View All</a>
        </div>
      </div>
    </div>

  </div>

</div>
