<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">App</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="coworkers()">Coworkers</a></li>

          <!--<li ui-sref-active="active" class="dropdown" dropdown>-->
            <!--<a class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">Dynamic <span class="caret"></span></a></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
              <!--<li ui-sref-active="active"><a ui-sref="dynamicTabs.state({state: 'dyn1'})">Dynamyc Tab 1</a></li>-->
              <!--<li class="divider"></li>-->
              <!--<li ui-sref-active="active"><a ui-sref="dynamicTabs.state({state: 'dyn2'})">Dynamyc Tab 2</a></li>-->
            <!--</ul>-->
          <!--</li>-->

        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--&lt;!&ndash;<li ui-sref-active="active"><a ui-sref="userNew">New User</a></li>&ndash;&gt;-->
          <!--<li class="dropdown" dropdown>-->
            <!--<a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu" role="menu">-->
              <!--<li><a href="#">Action</a></li>-->
              <!--<li><a href="#">Another action</a></li>-->
              <!--<li><a href="#">Something else here</a></li>-->
              <!--<li class="divider"></li>-->
              <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div ui-view></div>
</div>
